@model Lanche

<div class="col col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.ImagemUrl" class="img-fluid" />
    </div>

    <div class="caption">
        <h3>
            <a asp-controller="Lanche" asp-action="Details" asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
        </h3>
        <p>@Model.DescricaoCurta</p>
        <p>Preco: @Model.Preco.ToString("c")</p>
    </div>

    <!-- Botão de inserir produto no carrinho -->
    <div>
        <p class="btn">
            <a class="btn btn-primary" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                Incluir no Carrinho
            </a>
        </p>
    </div>
</div>
