<br />
<div class="container">
    <div class="jumbotron">
        <p>Nome do Cliente:</p>
        <strong>@ViewBag.Cliente</strong>
        <hr />
        <p>Data:</p>
        <strong>@ViewBag.DataPedido</strong>
        <hr />
        <p>Numero do pedido: </p>
        <strong>@ViewBag.NumeroPedido</strong>
        <hr />
        <p>Pagamento:</p>
        <strong>@(ViewBag.TotalPedido)</strong>
        <hr />
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>
</div>
